:root {
  --foreground-color: #ff0000;
  --background-color: #000000;
  --led-on-color: var(--foreground-color);
  --led-off-color: #310000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: underline;
}
#root-container {
  text-align: center;
}
.menu-box {
  border-color: 1px solid var(--foreground-color);
  background-color: var(--background-color);
}
.menu-container > a {
  opacity: 0;
  text-decoration: none;
}
.menu-container > a:hover {
  opacity: 1;
  transition: 0;
}
#chiming {
  position: absolute;
  bottom:1pt;
  right: 1pt;
}
#chimesetup {
  visibility: hidden;
  position: absolute;
  bottom: 1pt;
  right: 1pt;
  padding: 5px;
  border: solid;
  text-align: center;
}
#chimesetup h3 {
  margin: 0;
}
#chimesetup a {
  width: 10em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
}
#chimesetup a.active {
  color: var(--background-color);
  background-color: var(--foreground-color);
}
#menu {
  position: absolute;
  bottom:1pt;
  left: 1pt;
}
#menubtn {
  visibility: hidden;
  font-size: 200%;
}
#menupopup {
  visibility: hidden;
  position: absolute;
  bottom: 1pt;
  left: 1pt;
  padding: 5px;
  border: solid;
  text-align: left;
}
#menupopup h3 {
  margin: 2pt;
}
#menupopup input {
  border: 1px solid var(--foreground-color);
  background-color: inherit;
  margin: 2pt;
}
#menupopup label {
  width: 15em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
  border-radius: 5pt;
}
#menupopup a {
  width: 15em;
  display: inline-block;
  margin: 2pt;
  padding: 5pt;
  text-align: center;
  border-color: var(--foreground-color);
  border-radius: 5pt;
}
